<template>
	<div class="background">
		<v-layout row wrap>
			<v-flex sm12>
				<SectionTitle title="Eventos"/>
			</v-flex>
		</v-layout>

		<v-container grid-list-xl>
			<v-layout row wrap>
				<v-flex :key="event.id" xs12 md4 sm6 v-for="event in events">
					<Event
						v-bind:image="event.image"
						v-bind:eventName="event.name"
						v-bind:eventDate="event.date"
						v-bind:event-description="event.description"
						v-bind:launch-event-dialog="displayDetailedEvent"
					/>
				</v-flex>
			</v-layout>
		</v-container>

		<EventDialog/>
	</div>
</template>

<script>
  import SectionTitle from '../../../components/SectionTitle'
  import Event from '../../../components/Event'
  import EventDialog from '../../../components/EventDialog'
  import Bus from '../../../Bus'
  import EventsServices from '../../../services/EventsServices/EventsServices'

  const api = new EventsServices()

  export default {
    components: {
      SectionTitle,
	  Event,
	  EventDialog
	},
	data: () => ({
	  events: []
	}),
	methods: {
      displayDetailedEvent(event) {
        Bus.$emit('onEventDialogLaunched', {
          isOpen: true,
		  image: event.image,
          name: event.name,
		  date: event.date,
		  description: event.description
        })
	  },
	  displayEvents() {
        const self = this
        api.getEvents()
		  .then(listOfEvents => {
			listOfEvents.forEach((element) => {
		      self.events.push(element)
			})
		  })
		  .catch(error => {

		  })
	  }
	},
	mounted () {
      this.displayEvents()
    }
  }
</script>

<style scoped>
	.background {
		background-color: #f7f9f7;
		min-height: 20vw;
	}
</style>
