<template>
	<div class="background">
		<v-layout row wrap>
			<v-flex sm12>
				<h1>Conocer, Cuidar, Preservar</h1>
			</v-flex>
		</v-layout>
	</div>
</template>

<script>

  export default {

  }
</script>

<style scoped>
	.background {
		background-image: url("../../../assets/landing-background.jpg");
		background-size: cover;
		background-position: 50%, 50%;
		min-height: 60vw;
	}
	h1 {
		color: white;
		padding-top: 40vw !important;
		font-size: 50px !important;
	}
</style>
