<template>
	<section class="background">
		<v-layout row wrap>
			<v-flex sm12>
				<SubsectionTitle title="Patrocinadores"/>
			</v-flex>
		</v-layout>

		<v-container
			grid-list-xl
		>
			<v-layout
				row
				align-center
				class="partners"
			>
				<v-flex
					class="text-xs-center"
					:key="0"
					xs6
					sm3
					md2
					v-for="partner in partners"
				>
					<v-img
						class="img"
						:src="partner"
						contain
					/>
				</v-flex>
			</v-layout>
		</v-container>

	</section>
</template>

<script>
  import SubsectionTitle from '../../../components/SubsectionTitle'

  export default {
    components: {
      SubsectionTitle
    },
    data: () => ({
      photoUs: require('../../../assets/culture-mission.jpg'),
      partners: [
        require('../../../assets/merida-me-mueve.png'),
        require('../../../assets/fondo-municipal.png'),
        require('../../../assets/viacce.png'),
        require('../../../assets/pack-ingflex.jpeg'),
        require('../../../assets/cafe-son.jpeg'),
      ]
    })
  }
</script>

<style scoped>
	.img {
		width: 10vw;
	}

	.partners {
		padding-left: 12vw !important;
	}
</style>
