<template>
	<v-footer
		dark
		height="auto"
	>
		<v-card
			class="lighten-1 white--text text-xs-center"
			color="#FDBC55"
			flat
			tile
			width="100%"
		>
			<v-card-text>
				<v-btn
					:key="icon.type"
					class="mx-3 white--text"
					icon
					v-for="icon in icons"
				>
					<v-icon @click="redirectTo(icon.url)" size="24px" rel="search">{{ icon.type }}</v-icon>
				</v-btn>
			</v-card-text>

			<v-card-text class="white--text pt-0">
				Siguenos a través de nuestras redes sociales
			</v-card-text>

			<v-divider></v-divider>

			<v-card-text class="white--text">
				<strong>La Abeja Guardiana</strong><br>
				&copy;2020
			</v-card-text>

			<v-card-text class="white--text">
				Powered by <strong class="powered" @click="redirectTo(viacceUrl)">VIACCE</strong>
			</v-card-text>

		</v-card>
	</v-footer>
</template>

<script>
  export default {
    data: () => ({
      icons: [
        {
          type: 'fab fa-facebook',
          url: 'https://www.facebook.com/LaAbejaGuardianaMX'
        },
        {
          type: 'fab fa-instagram',
          url: 'https://www.instagram.com/laabejaguardiana'
        }
      ],
	  viacceUrl: 'http://viacce.com/'
    }),
    methods: {
      redirectTo (iconUrl) {
        window.open(iconUrl, '_blank')
      }
    }
  }
</script>

<style scoped>
	.powered:hover {
		color: #ff3635;
	}
</style>
