<template>
	<v-layout justify-center row>
		<v-dialog
			fullscreen
			hide-overlay
			transition="dialog-bottom-transition"
			v-model="dialog">
			<v-card>

				<v-toolbar color="#eab029" dark>
					<v-btn @click="closeDialog()" dark icon>
						<v-icon>close</v-icon>
					</v-btn>
					<v-toolbar-title>{{title}}</v-toolbar-title>
				</v-toolbar>

				<v-list
					class="scroll-y"
				>
					<v-container grid-list-xl>
						<v-layout row wrap>
							<v-flex
								xs12
								sm6
								md4
								lg3
								:key="image.id"
								v-for="image in listOfImages">
								<v-img :src="image"/>
							</v-flex>
						</v-layout>
					</v-container>
				</v-list>

			</v-card>
		</v-dialog>
	</v-layout>
</template>

<script>
  import Bus from '../Bus'
  import GalleryServices from '../services/GalleryServices/GalleryServices'

  const api = new GalleryServices()

  export default {
    data: () => ({
	  dialog: false,
	  id: '',
	  title: '',
	  listOfImages: []
	}),
	methods: {
      closeDialog() {
        this.dialog = false
	  },
	  displayGallery(id) {
        const self = this
        api.getDetailedGallery(id)
          .then(detailedGallery => {
            console.log(detailedGallery)
            self.title = detailedGallery.title
            detailedGallery.images.forEach((element) => {
              self.listOfImages.push(element)
            })
          })
          .catch(error => {

          })
	  }
	},
    beforeMount () {
      Bus.$on('onGalleryDialogLaunched', (payload) => {
        this.dialog = payload.isOpen
		this.displayGallery(payload.id)
      })
    }
  }
</script>

<style scoped>
	.v-list {
		height: 90vh;
	}
</style>
